
html {
  background-image: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin: 135px 20px 100px 20px;
    top: 5%;
    min-width: 300px;
    min-height: 500px;
    background: #fff;
    border-radius: 20px;
    padding: 130px 0 40px 0;
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.25));

    .img {
      background-image: url('./images/illustration-woman-online-mobile.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 200px;
      width: 250px;
      top: -100px;
      margin-bottom: -10px;
      position: absolute;
      margin-right: 25px;
      z-index: 2;
    }
    .img-bg {
      background-image: url('./images/bg-pattern-mobile.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 200px;
      width: 230px;
      top: 0;
      position: absolute;
      z-index: 1;
    }

    .content {
      margin: 0 25px;
      h1 {
        text-align: center;
        margin: 15px 0 30px 0;
      }

      .accordion {
        min-width: 300px;
        padding: 0 10px;

        .accordion-item {
          padding-bottom: 15px;
          border-bottom: solid 1px hsl(240, 5%, 91%);
          padding-top: 10px;

          .accordion-item-header {
            font-size: .9rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            cursor: pointer;

            :hover {
              color: hsl(14, 88%, 65%);
            }

            .arrow {
              background-image: url('./images/icon-arrow-down.svg');
              background-repeat: no-repeat;
              background-size: contain;
              height: 10px;
              width: 12px;
              position: relative;
              top: 2px;
              transition: transform 0.2s ease-in-out;
            }
          }

          .accordion-item-body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-in-out;
            
            .accordion-item-body-content {
              color: hsl(240, 6%, 50%);
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}

.accordion-item-header.active .arrow {
  right: 1px;
  padding: 5px;
  transform: rotate(180deg);
}

.accordion-item-header.active {
  font-weight: 700;
}

@media all and (min-width: 760px) {
  html {
    font-size: 20px;
  }
}

@media all and (min-width: 900px) {

  html {
    font-size: 22px;
  }

  .container {
    padding: 0 45px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .desktop-box {
      background-image: url(./images/illustration-box-desktop.svg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 200px;
      width: 200px;
      top: 34%;
      left: -85px;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      z-index: 5;
    }

    .card {
      padding: 20px 0;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      max-width: 1100px;
      overflow: hidden;
        
      .img {
        background-image: url('./images/illustration-woman-online-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 342px;
        width: 450px;
        top: 85px;
        left: -75px;
        position: absolute;
        z-index: 2;
      }
      .img-bg {
        background-image: url('./images/bg-pattern-desktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 700px;
        width: 800px;
        top: -130px;
        left: -350px;
        position: absolute;
        z-index: 1;
      }
      

      .content {
        max-width: 60%;
        padding-left: 75px;
        padding-right: 25px;

        h1 {
          text-align: left;
        }
      }
    }
  }
}

@media all and (min-width: 1150px) {
  .container {
    .desktop-box {
      transform: translateX(-236%) translateY(195%);
      position: relative;
      
    }
  }
}

@media all and (min-width: 1190px) {
  html {
    font-size: 26px;
  }

  .container {
    .card {
      .content {
        padding-right: 75px;
      }
    }
  }
}