html {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 135px auto;
  min-width: 300px;
  min-height: 500px;
  background: #fff;
  border-radius: 20px;
  padding: 130px 0 40px 0;
  -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.25));
}

.container .card .img {
  background-image: url("./images/illustration-woman-online-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 250px;
  top: -100px;
  margin-bottom: -10px;
  position: absolute;
  margin-right: 25px;
  z-index: 2;
}

.container .card .img-bg {
  background-image: url("./images/bg-pattern-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 230px;
  top: 0;
  position: absolute;
  z-index: 1;
}

.container .card .content {
  margin: 0 25px;
}

.container .card .content h1 {
  text-align: center;
  margin: 15px 0 30px 0;
}

.container .card .content .accordion {
  min-width: 300px;
  padding: 0 10px;
}

.container .card .content .accordion .accordion-item {
  padding-bottom: 15px;
  border-bottom: solid 1px #e7e7e9;
  padding-top: 10px;
}

.container .card .content .accordion .accordion-item .accordion-item-header {
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.container .card .content .accordion .accordion-item .accordion-item-header :hover {
  color: #f47c57;
}

.container .card .content .accordion .accordion-item .accordion-item-header .arrow {
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 10px;
  width: 12px;
  position: relative;
  top: 2px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.container .card .content .accordion .accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

.container .card .content .accordion .accordion-item .accordion-item-body .accordion-item-body-content {
  color: #787887;
  margin-top: 15px;
}

.accordion-item-header.active .arrow {
  right: 1px;
  padding: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-item-header.active {
  font-weight: 700;
}

@media all and (min-width: 760px) {
  html {
    font-size: 20px;
  }
}

@media all and (min-width: 900px) {
  html {
    font-size: 22px;
  }
  .container {
    padding: 0 45px;
    margin: 5% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .box-container {
    margin: 135px auto;
    min-width: 300px;
    min-height: 500px;
    padding: 20px 0;
    max-width: 1100px;
    position: absolute;
    z-index: 5;
  }
  .container .box-container .desktop-box {
    background-image: url(./images/illustration-box-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    top: 65px;
    left: -100px;
    margin-bottom: -10px;
    position: absolute;
    margin-right: 25px;
    z-index: 3;
  }
  .container .card {
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 1100px;
    overflow: hidden;
  }
  .container .card .img {
    background-image: url("./images/illustration-woman-online-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 342px;
    width: 450px;
    top: 85px;
    left: -75px;
    position: absolute;
    z-index: 2;
  }
  .container .card .img-bg {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 800px;
    top: -130px;
    left: -350px;
    position: absolute;
    z-index: 1;
  }
  .container .card .content {
    max-width: 60%;
    padding-left: 75px;
    padding-right: 25px;
  }
  .container .card .content h1 {
    text-align: left;
  }
}

@media all and (min-width: 1190px) {
  html {
    font-size: 26px;
  }
  .container .card .content {
    padding-right: 75px;
  }
}
/*# sourceMappingURL=style.css.map */